@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  font-display: swap;
  src: url('../../font/Oswald.woff2') format('woff2'), url('../../font/Oswald.woff') format('woff'),
    url('../../font/Oswald.ttf') format('truetype');
}

@font-face {
  font-family: 'Avaria Serif Libre';
  font-weight: 400;
  font-display: swap;
  src: url('../../font/averiaseriflibre.woff2') format('woff2'), url('../../font/averiaseriflibre.woff') format('woff'),
    url('../../font/averiaseriflibre.ttf') format('truetype');
}
