/*
  Category color codes
  ==============================================================================
*/

.is-category-arrow {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border: 3px solid transparent;
  }
}

[data-category='hoax-alert'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-red);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-red);
    }
    &-bdr {
      border-right-color: var(--color-red);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-red);
    }
    &-bdb {
      border-bottom-color: var(--color-red);
    }
  }
}

[data-category='entertainment'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-orange);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-orange);
    }
    &-bdr {
      border-right-color: var(--color-orange);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-orange);
    }
    &-bdb {
      border-bottom-color: var(--color-orange);
    }
  }
}

[data-category='happening-now'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-yellow);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-yellow);
    }
    &-bdr {
      border-right-color: var(--color-yellow);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-yellow);
    }
    &-bdb {
      border-bottom-color: var(--color-yellow);
    }
  }
}

[data-category='opinion'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-green);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-green);
    }
    &-bdr {
      border-right-color: var(--color-green);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-green);
    }
    &-bdb {
      border-bottom-color: var(--color-green);
    }
  }
}

[data-category='politics'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-teal);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-teal);
    }
    &-bdr {
      border-right-color: var(--color-teal);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-teal);
    }
    &-bdb {
      border-bottom-color: var(--color-teal);
    }
  }
}

[data-category='satire'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-cyan);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-cyan);
    }
    &-bdr {
      border-right-color: var(--color-cyan);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-cyan);
    }
    &-bdb {
      border-bottom-color: var(--color-cyan);
    }
  }
}

[data-category='tech'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-blue);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-blue);
    }
    &-bdr {
      border-right-color: var(--color-blue);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-blue);
    }
    &-bdb {
      border-bottom-color: var(--color-blue);
    }
  }
}

[data-category='trendolizer-picks'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-indigo);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-indigo);
    }
    &-bdr {
      border-right-color: var(--color-indigo);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-indigo);
    }
    &-bdb {
      border-bottom-color: var(--color-indigo);
    }
  }
}

[data-category='video'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-purple);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-purple);
    }
    &-bdr {
      border-right-color: var(--color-purple);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-purple);
    }
    &-bdb {
      border-bottom-color: var(--color-purple);
    }
  }
}

.category-badge,
.mod-fullmenu-list li {
  &[data-category='hoax-alert']:after {
    border-left-color: var(--color-red);
    border-top-color: var(--color-red);
  }

  &[data-category='entertainment']:after {
    border-left-color: var(--color-orange);
    border-top-color: var(--color-orange);
  }

  &[data-category='happening-now']:after {
    border-left-color: var(--color-yellow);
    border-top-color: var(--color-yellow);
  }

  &[data-category='opinion']:after {
    border-left-color: var(--color-green);
    border-top-color: var(--color-green);
  }

  &[data-category='politics']:after {
    border-left-color: var(--color-teal);
    border-top-color: var(--color-teal);
  }

  &[data-category='satire']:after {
    border-left-color: var(--color-cyan);
    border-top-color: var(--color-cyan);
  }

  &[data-category='tech']:after {
    border-left-color: var(--color-blue);
    border-top-color: var(--color-blue);
  }

  &[data-category='trendolizer-picks']:after {
    border-left-color: var(--color-indigo);
    border-top-color: var(--color-indigo);
  }

  &[data-category='video']:after {
    border-left-color: var(--color-purple);
    border-top-color: var(--color-purple);
  }
}
