/*
  Category color codes
  ==============================================================================
*/

.is-category-arrow {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-right-width: 2px;
  }
}

[data-category='hoax-alert'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-orange);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-orange);
    }
    &-bdr {
      border-right-color: var(--color-orange);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-orange);
    }
    &-bdb {
      border-bottom-color: var(--color-orange);
    }
    &-color {
      color: var(--color-orange);
    }
  }
}

[data-category='analysis'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-green);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-green);
    }
    &-bdr {
      border-right-color: var(--color-green);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-green);
    }
    &-bdb {
      border-bottom-color: var(--color-green);
    }
    &-color {
      color: var(--color-green);
    }
  }
}

[data-category='red-feed'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-red);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-red);
    }
    &-bdr {
      border-right-color: var(--color-red);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-red);
    }
    &-bdb {
      border-bottom-color: var(--color-red);
    }
    &-color {
      color: var(--color-red);
    }
  }
}

[data-category='blue-feed'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-blue);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-blue);
    }
    &-bdr {
      border-right-color: var(--color-blue);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-blue);
    }
    &-bdb {
      border-bottom-color: var(--color-blue);
    }
    &-color {
      color: var(--color-blue);
    }
  }
}

[data-category='satire'] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-indigo);
    }
    &-bdl,
    &-arrow:after {
      border-left-color: var(--color-indigo);
    }
    &-bdr {
      border-right-color: var(--color-indigo);
    }
    &-bdt,
    &-arrow:after {
      border-top-color: var(--color-indigo);
    }
    &-bdb {
      border-bottom-color: var(--color-indigo);
    }
    &-color {
      color: var(--color-indigo);
    }
  }
}

.category-badge,
.mod-fullmenu-list li {
  &[data-category='hoax-alert']:after {
    border-left-color: var(--color-orange);
    border-top-color: var(--color-orange);
  }

  &[data-category='analysis']:after {
    border-left-color: var(--color-green);
    border-top-color: var(--color-green);
  }

  &[data-category='red-feed']:after {
    border-left-color: var(--color-red);
    border-top-color: var(--color-red);
  }

  &[data-category='blue-feed']:after {
    border-left-color: var(--color-blue);
    border-top-color: var(--color-blue);
  }

  &[data-category='satire']:after {
    border-left-color: var(--color-indigo);
    border-top-color: var(--color-indigo);
  }
}
