/*
  Category color codes
  ==============================================================================
*/

.is-category-arrow {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-color: var(--color-code);
    border-left-color: var(--color-code);
  }
}

[data-color] {
  &.is-category {
    &-bg,
    &-after-bg:after,
    &-before-bg:before {
      background-color: var(--color-code);
    }
    &-bdl {
      border-left-color: var(--color-code);
    }
    &-bdr {
      border-right-color: var(--color-code);
    }
    &-bdt {
      border-top-color: var(--color-code);
    }
    &-bdb {
      border-bottom-color: var(--color-code);
    }
    &-color {
      color: var(--color-code);
    }
  }
}

[data-color='red'] {
  --color-code: var(--color-red);
}

[data-color='orange'] {
  --color-code: var(--color-orange);
}

[data-color='yellow'] {
  --color-code: var(--color-yellow);
}

[data-color='green'] {
  --color-code: var(--color-green);
}

[data-color='teal'] {
  --color-code: var(--color-teal);
}

[data-color='cyan'] {
  --color-code: var(--color-cyan);
}

[data-color='blue'] {
  --color-code: var(--color-blue);
}

[data-color='indigo'] {
  --color-code: var(--color-indigo);
}

[data-color='purple'] {
  --color-code: var(--color-purple);
}

[data-color='pink'] {
  --color-code: var(--color-pink);
}

.mod-fullmenu-list li:after {
  border-left-color: var(--color-code);
  border-top-color: var(--color-code);
}
