.mod-brief-article {
  position: relative;
  --overlay-font-size: var(--font-size-h4);
  .overlay-link {
    display: flex;
  }
  &-image {
    flex: 0 0 140px;
    margin-right: var(--gutter);
  }
  &-title {
    font-size: var(--font-size-h4);
    margin-top: -3px;
  }
  .category-badge {
    font-size: 0.875em;
  }
  figure.fixed-media .caption-overlay {
    width: 75%;
  }
  @media screen and (min-width: 520px) and (max-width: 980px) {
    &-image {
      flex-basis: 240px;
    }
  }
}
