.mod-content-section {
  &-heading {
    --padding: 4px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: calc(var(--padding) - 1px);
    margin-bottom: var(--grid-rows-gap);
    color: var(--color-primary-lt);
  }
  &-title {
    font-size: var(--font-size-h2);
    span {
      border-bottom: 1px solid var(--color-caption);
      color: var(--color-primary);
    }
  }
  &-addon {
    margin-top: var(--grid-rows-gap);
  }
  &-raw {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  &.is-highlighted {
    position: relative;
    padding: var(--gutter);
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(var(--gutter) * -0.5);
      left: calc(var(--gutter) * -0.5);
      bottom: calc(var(--gutter) * -0.5);
      right: calc(var(--gutter) * -0.5);
      background-color: var(--color-highlight);
      z-index: -1;
      border: 1px solid var(--color-border);
    }
  }
}
