.mod-full-article {
  &-header {
    hgroup {
      display: flex;
      flex-direction: column;
    }
    h1 {
      font-size: calc(var(--font-size-h1) * 1.125);
      margin: var(--gutter) 0;
    }
    .category-badge {
      order: -1;
      width: 200px;
    }
  }
  &-suplemental-data {
    margin: var(--gutter) 0;
    padding: var(--gutter-half) 0;
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .secondary-data {
      font-size: 1.25em;
    }
  }
  &-appendix {
    > * {
      margin: var(--grid-gutter) 0;
    }
  }
  @media screen and (max-width: 520px) {
    &-header {
      h1 {
        font-size: var(--font-size-h2);
      }
    }
    &-suplemental-data {
      flex-direction: column;
      > * {
        margin: var(--gutter-half) 0;
      }
    }
  }
}
