/*
  Full Menu
  It shown as fullscreen popup with overlay
  ==============================================================================
*/

.mod-fullmenu {
  --elem-size: var(--form-element-size);
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: var(--layout-overlay-width);
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-depth-4);
  transform: translate3d(-100%, 0, 0);
  transition: transform var(--transition-duration);
  &-header {
    display: flex;
    align-items: center;
    margin: var(--gutter) 0;
    color: var(--color-caption);
    span {
      color: var(--color-accent);
    }
    h1 {
      font-size: var(--font-size-h2);
    }
    button {
      margin-right: var(--gutter);
    }
  }
  &-list {
    overflow: auto;
    padding: var(--gutter) 0;
    li {
      display: block;
    }
    ul {
      padding: 0;
      list-style: none;
      > li {
        border-left: 3px solid transparent;
        margin: 2px 0;
        &:after {
          left: 0;
        }
      }
      ul {
        a {
          padding-left: calc(var(--elem-size) * 2);
          font-weight: normal;
        }
      }
    }
    img {
      width: 24px;
      margin-left: calc((var(--elem-size)) * -1);
      margin-right: 8px;
    }
    b {
      font-size: 1.25em;
      font-family: var(--font-family-heading);
      font-weight: normal;
    }
    a {
      line-height: calc(var(--form-element-size) + var(--gutter));
      display: flex;
      align-items: center;
      color: var(--color-main);
      padding: 0 var(--gutter-half) 0 calc(var(--elem-size) + var(--gutter-half));
      transition: background-color var(--transition-duration);
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        background-color: var(--color-highlight);
        b {
          text-decoration: underline;
        }
      }
      &.state-current {
        color: $c-acc-dk;
      }
    }
  }
  &-search {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: calc(var(--elem-size) + var(--gutter-half));
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    position: relative;
    input {
      padding: 0 calc(var(--elem-size) * 2) 0 var(--elem-size);
      border: 0;
      flex: 1;
      align-self: stretch;
      background-color: transparent;
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: var(--elem-size);
    }
    button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;
      padding: 0;
      width: calc(var(--elem-size) * 2);
      height: var(--elem-size);
      transform: translate3d(0, 0, 0);
      transition: transform var(--transition-duration);
      &:focus,
      &:hover {
        color: var(--color-accent);
      }
    }
    input:placeholder-shown + button {
      visibility: visible;
      transform: translate3d(100%, 0, 0);
    }
  }
  &.is-visible {
    transform: translate3d(0, 0, 0);
  }
  @media screen and (max-width: 980px) {
    &-container {
      /*transform: translate3d(-100%, 0, 0);*/
      transition: transform var(--transition-duration) ease-in;
    }
    &.transition {
      .container {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  @media screen and (max-width: 520px) {
    &-container {
      width: 100%;
      right: 0;
    }
  }
}
