.mod-full-article {
  &-header {
    hgroup {
      display: flex;
      flex-direction: column;
    }
    h1 {
      font-size: calc(var(--font-size-h1) * 1.125);
      margin: var(--gutter) 0;
    }
    .category-badge {
      order: -1;
      width: 200px;
    }
  }
  &-suplemental-data {
    margin: var(--gutter) 0;
    padding: var(--gutter-half) 0;
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .secondary-data {
      font-size: 1.25em;
    }
  }
  &-primary-media {
    margin-bottom: var(--gutter);
  }
  &-appendix {
    > * {
      margin: var(--grid-rows-gap) 0;
    }
    .copy-text {
      max-width: 840px;
    }
  }
  @media screen and (min-width: 520px) {
    &-primary-media {
      --overlay-font-size: 3.2em;
      &-small {
        width: 40%;
        float: left;
        margin-right: var(--grid-columns-gap);
      }
    }
  }
  @media screen and (max-width: 520px) {
    &-header {
      h1 {
        font-size: var(--font-size-h2);
      }
    }
    &-suplemental-data {
      flex-direction: column;
      > * {
        margin: var(--gutter-half) 0;
      }
    }
    &-primary-media-small {
      margin-bottom: var(--gutter);
    }
  }
}
