.mod-page-title {
  &-subtext {
    font-family: var(--font-family);
    font-size: var(--font-size-h3);
  }
  &-text {
    --padding: 4px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: calc(var(--padding) + 1px);
    margin-bottom: var(--gutter-half);
    color: var(--color-primary-lt);
    font-size: calc(var(--font-size-h1) * 1.125);
    span {
      border-bottom: 3px solid var(--color-caption);
      color: var(--color-primary);
    }
  }
  &-appendix {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((var(--layout-overlay-width) - (var(--grid-columns-gap) * 2)) / 2), 1fr)
    );
    grid-template-rows: auto;
    grid-gap: var(--gutter-half);
    a {
      text-align: center;
      text-decoration: none;
      padding: 0 var(--gutter);
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      background-color: var(--color-highlight);
      line-height: var(--form-element-size);
      border: 1px solid var(--color-border);
      transition: border-color var(--transition-duration);
      &:hover {
        text-decoration: underline;
        border-color: var(--color-accent);
        color: var(--color-accent);
      }
    }
  }
}
