.mod-picture-article {
  position: relative;
  display: block;
  &-title {
    font-size: var(--font-size-h4);
    padding-top: 4px;
  }
  &-titlegroup {
    order: 2;
  }
  &-footer {
    --pv: 2px;
    --size: 32px;
    position: relative;
    order: 1;
    margin-top: calc(var(--size) * -1);
    height: var(--size);
    color: var(--color-secondary);
    text-align: left;
    padding: var(--pv) 8px;
    line-height: calc(var(--size) - (var(--pv) * 2));
    svg {
      fill: var(--color-secondary);
    }
  }
  .caption-overlay {
    --overlay-font-size: var(--font-size-h2);
  }

  .overlay-link {
    display: flex;
    flex-direction: column;
    &:hover {
      .mod-picture-article-title {
        color: var(--color-link);
      }
    }
  }
  .secondary-data {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
