.mod-static-content {
  &-title {
    --padding: 4px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--padding);
    margin-bottom: calc(var(--gutter) * 0.5);
    color: var(--color-primary-lt);
    font-size: calc(var(--font-size-h1) * 1.125);
    span {
      border-bottom: 1px solid var(--color-caption);
      color: var(--color-primary);
    }
  }

  &-subtitle {
    color: var(--color-primary-lt);
  }

  &-heading {
    margin-bottom: var(--grid-gutter);
  }

  &-inner {
    margin: var(--grid-gutter) 0;
  }

  &-appendix {
    margin-top: var(--grid-gutter);
  }
}
